# Data Science
pandas
scikit-learn
# Cloud
google-cloud-bigquery-storage
google-cloud-bigquery
google-cloud-storage
db-dtypes

# Notebook
notebook

# Linting and Formatting
pre-commit

# Web & API
fastapi
uvicorn
streamlit
requests
